/*Z index of pop pu is 1 and that of mobile control button is 2*/
body{
    margin: 0px;
    padding: 0px;
}
#experience{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.heading{
    /* font-size: larger; */
}


/******************** POP UP *************************/
.pop-up{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 50vh;
    color: black;
    border: 3px solid black;
    padding: 2%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.714);
    border-radius: 2px;
}

.item{
    /* border: 1px solid black; */
    display: none;
    color: aliceblue;
    display: block;
}

/*Heading*/
.item1{
    font-size: larger;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: start;
}

/*Content*/
.item2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 2px;
}
/*Project Link*/
.item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color: aqua; */
}

.link{
    background-color: aliceblue;
    width: 25%;
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
    font-weight: bolder;
}

.link:hover{
    transform: scale(1.2);
    background-color: yellow;
}

/*Project Image*/
.item4{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;

    justify-content: center;

    align-items: center;
}

/*Exit*/
.item5{
    font-size: medium;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: end;
    justify-content:center;
}
.the-exit-button{
    height: 50%;
}



/*********************  Mobile controls  **********************/
.mobile-controls-button{
    position: absolute;
    top: 0px;
    left: 100vw;
    transform: translate(-100%,0%);
    border: 2px solid black;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-image: url(./Media/Touch_Screen_Icon-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.mobile-controls-button:hover{
    cursor: pointer;
    background-color: blue;
}
.mobile-controls-button:active{
    cursor: pointer;
    background-color: yellow;
}


.mobile-container{
    display: none;
}

.mobile-controls-rotate{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80vh;
    left:70vw;
    border: 2px solid black;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: black;
}
.pointer{
    border: 2px solid black;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(176, 176, 176);
}

.mobile-control-forward{
    position: absolute;
    border: 2px solid black;
    background-color: black;
    width: 10vw;
    height: 15vw;
    top: 80vh;
    right: 80vw;
    border-radius: 25%;
}







.progress-bar-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    z-index: 2;
}

#progress-bar{
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

label{
    color: aliceblue;
    font-size: 2rem;
}

